@if (event().type === "regenerate") {
  <p [class]="'text-black text-' + event().alignment">
    {{ event().attacker }} se regenera.
  </p>
} @else if (event().type === "dodge") {
  <p [class]="'text-black text-' + event().alignment">
    ¡{{ event().attacker }} ataca,<br />pero {{ event().defender }} esquiva el ataque!
  </p>
} @else if (event().type === "attack") {
  <p [class]="'text-black text-' + event().alignment">
    ¡{{ event().attacker }} golpea y hace {{ event().damage }} de daño!
    
    @if (event().critical === true) {
      <p
        [class]="'font-fighter text-' + event().alignment"
        [style.color]="event().color"
      >
        ¡Golpe Crítico!
      </p>
    }
  </p>
} @else {
  @if (event().attacker.length === 0) {
    <p class="font-fighter text-4xl mt-4 text-center">
      DOBLE K.O.!
    </p>
  } @else {
    <p
      [class]="'font-fighter mt-4 text-' + event().alignment"
      [style.color]="event().color"
    >
      ¡{{ event().attacker }} ha ganado!
    </p>
  }
}
