<article class="border-2 border-black rounded-lg">
  <header class="bg-black text-white p-1 text-center">Round {{ event().round }}</header>
  <section class="p-2">
    @let events = event().events;
    @for (event of events; track $index) {
      @if (event.type === "regenerate") {
        <p [class]="'text-black text-' + event.alignment">
          {{ event.attacker }} <strong class="text-regenerate">regenera {{event.regen}} HP</strong>.
        </p>
      } @else if (event.type === "dodge") {
        <p [class]="'text-black text-' + event.alignment">
          ¡{{ event.attacker }} ataca,<br />pero {{ event.defender }} <strong class="text-dodge">esquiva</strong> el ataque!
        </p>
      } @else if (event.type === "attack") {
        <p [class]="'text-black text-' + event.alignment">
          ¡{{ event.attacker }} golpea y hace <strong class="text-damage">{{ event.damage }} DMG</strong>!
          
          @if (event.critical === true) {
            <p
              [class]="'font-fighter text-' + event.alignment"
              [style.color]="event.color"
            >
              ¡Golpe Crítico!
            </p>
          }
        </p>
      }
    }
  </section>
</article>
