<div class="overflow-y-hidden">
  <header class="bg-fighter">
    <h1 class="text-4xl font-fighter text-center p-4 shadow-lg">Comic Fight</h1>
  </header>
  <main class="mt-4 p-4 flex flex-col justify-center items-center">
    <div class="flex justify-around items-end">
      <div class="w-1/3 flex flex-col justify-center">
        <img [src]="leftCharacter.idle" [alt]="leftCharacter.name + ' idle'" />
        <img [src]="leftCharacter.logo" [alt]="leftCharacter.name + ' logo'" />
        <cf-health-bar [value]="leftCharacterHealth()" [max]="leftCharacter.maxHealth" [fillColor]="leftCharacter.mainColor"></cf-health-bar>
      </div>
      <span class="font-fighter text-2xl">VS</span>
      <div class="w-1/3">
        <img class="-scale-x-100" [src]="rightCharacter.idle" [alt]="rightCharacter.name + ' idle'" />
        <img [src]="rightCharacter.logo" [alt]="rightCharacter.name + ' logo'" />
        <cf-health-bar [value]="rightCharacterHealth()" [max]="rightCharacter.maxHealth" [fillColor]="rightCharacter.mainColor"></cf-health-bar>
      </div>
    </div>
    <div class="w-full border-2 border-black p-4 mt-4 rounded-lg max-h-1/3 overflow-y-scroll">
      @for (message of messages(); track $index) {
        <p [class]="'text-' + message.side">
          {{ message.text }}
          @if (message.critical) {
            <p [class]="'font-fighter text-' + message.side" [style.color]="message.color">¡Golpe Crítico!</p>
          }
        </p>
      }
    </div>
  </main>
  </div>
