<!-- <span id="leftDamageText" class="damage-text"></span>
<span id="rightDamageText" class="damage-text"></span> -->
<div class="relative">
  @for (hpEvent of hpEvents(); track $index) {
    <cf-hp-event [hpEvent]="hpEvent" />
  }
</div>
<div class="h-screen w-full bg-black">
  <div class="flex flex-col items-center h-screen max-w-[480px] mx-auto bg-white">
    <cf-header class="w-full" />
    <main class="p-4 flex-1 flex flex-col justify-center items-center overflow-y-hidden">
      <div class="flex justify-around items-end">
        <div class="w-1/3 flex flex-col justify-center">
          <img id="leftCharacterIdleImage" [src]="leftCharacter.idle" [alt]="leftCharacter.name + ' idle sprite'" />
          <img [src]="leftCharacter.logo" [alt]="leftCharacter.name + ' logo'" />
          <cf-health-bar
            [value]="leftCharacterHealth()"
            [max]="leftCharacter.maxHealth"
            [fillColor]="leftCharacter.mainColor"
          />
        </div>
        <span class="font-fighter text-2xl">VS</span>
        <div class="w-1/3 flex flex-col justify-center">
          <img
            id="rightCharacterIdleImage"
            class="-scale-x-100"
            [src]="rightCharacter.idle"
            [alt]="rightCharacter.name + ' idle sprite'"
          />
          <img
            [src]="rightCharacter.logo"
            [alt]="rightCharacter.name + ' logo'"
          />
          <cf-health-bar
            [value]="rightCharacterHealth()"
            [max]="rightCharacter.maxHealth"
            [fillColor]="rightCharacter.mainColor"
          />
        </div>
      </div>
      <div class="w-full flex-1 flex flex-col gap-2 mt-4 overflow-y-auto">
        @if (winnerEvent()) {
          @if (winnerEvent()?.attacker?.length === 0) {
            <p class="font-fighter text-4xl mt-4 text-center text-transparent" [style]="{'background-image': doubleKoBackgroundStyle, 'background-clip': 'text'}">
              DOBLE K.O.!
            </p>
          } @else {
            <p
            [class]="'font-fighter mt-4 text-center'"
            [style.color]="winnerEvent()?.color"
            >
              ¡{{ winnerEvent()?.attacker }} ha ganado!
            </p>
          }
        }
        @for (event of roundEvents(); track $index) {
          <cf-event [event]="event" />
        }
      </div>
    </main>
    @if (gameOver()) {
      <div class="flex gap-4 justify-center mb-4">
        <button
          class="bg-black text-white px-4 py-2 rounded-lg"
          (click)="resetGame()"
        >
          Reset
        </button>
      </div>
    }
  </div>
</div>