<header>
  <h1>About</h1>
</header>
<main>
  <section>
    <h2>Fuente</h2>
    <p>
      La fuente utilizada para el título de la aplicación y alguna cosa más se
      llama Fatal Fighter y está descargada de
      <a href="https://www.dafont.com/fatal-fighter.font" target="_blank"
        >dafont.com</a
      >.
    </p>
  </section>
  <section>
    <h2>Sprites de los personajes</h2>
    <p>
      Las imágenes de los personajes son sprites del juego Marvel: Avengers
      Alliance y se han descargado de
      <a
        href="https://www.spriters-resource.com/browser_games/marvelavengers/"
        target="_blank"
        >The Spriters Resource</a
      >. (Si queréis añadir más personajes, podéis coger sus sprites aquí,
      aunque vais a necesitar algún software de edición de imágenes).
    </p>
    <p>
      En concreto,
      <a
        href="https://www.spriters-resource.com/browser_games/marvelavengers/sheet/51721/"
        target="_blank"
        >ésta</a
      >
      es la sprite sheet de Deadpool. Y
      <a
        href="https://www.spriters-resource.com/browser_games/marvelavengers/sheet/48880/"
        target="_blank"
        >ésta</a
      >
      es la de Wolverine.
    </p>
  </section>
</main>
